In [1]:
import pandas as pd
df=pd.read_excel("C:\\Users\\pssbh\\OneDrive\\Sem 5\\DWDM Pro\\new merged all3.xlsx")

In [2]:
df.head()

,Name,Gender,Hallticket number,State,District,region,Intermediate_marks,Eamcet year,eamcet marks,status,Eamcet rank,Allotted college,Branch,Coed
0,Lokajit,Male,6.047202e+10,Andhra Pradesh,Krishna,Middle Andhra,989.0,2020.0,124.0,Qualified,705,JNTUK COLLEGE OF ENGG. KAKINADA,CSE,Yes
1,Shaik Sajida,Male,6.047201e+10,Andhra Pradesh,East Godavari,Middle Andhra,988.0,2020.0,117.0,Qualified,1300,JNTUK COLLEGE OF ENGG. KAKINADA,CSE,Yes
2,GULLIPALLI SAI ROHITH NAIDU,Male,6.047202e+10,Andhrapradesh,East Godavari,Middle Andhra,954.0,2020.0,111.0,Qualified,1501,NaN,,Yes
3,Kaditula,female,6.047202e+10,Andhrapradesh,East Godavari,Middle Andhra,987.0,2020.0,110.0,Qualified,1570,JNTUK COLLEGE OF ENGG. KAKINADA,ECE,Yes
4,Raktakamal,Male,6.047202e+10,Andhrapradesh,Visakhapatnam,North Andhra,987.0,2020.0,109.0,Qualified,1578,GAYATHRI VIDYA PARISHAD COLL. OF ENGINEERING,CSE,Yes

In [4]:
inputs = df.drop(['Name','Gender','Hallticket number','State','Eamcet year','Eamcet rank','eamcet marks','Allotted college','Branch','Coed','status'],axis='columns')
target = df['status']

In [5]:
inputs.head()

        District         region  Intermediate_marks
0        Krishna  Middle Andhra               989.0
1  East Godavari  Middle Andhra               988.0
2  East Godavari  Middle Andhra               954.0
3  East Godavari  Middle Andhra               987.0
4  Visakhapatnam   North Andhra               987.0

In [6]:
target

0           Qualified
1           Qualified
2           Qualified
3           Qualified
4           Qualified
            ...
2477    Not Qualified
2478    Not Qualified
2479    Not Qualified
2480    Not Qualified
2481              NaN
Name: status, Length: 2482, dtype: object

In [18]:
from sklearn.preprocessing import LabelEncoder

In [19]:
le_District = LabelEncoder()
le_region = LabelEncoder()
le_Intermediate_marks = LabelEncoder()
le_status = LabelEncoder()

In [20]:
inputs['District_n'] = le_District.fit_transform(inputs['District'])
inputs['region_n'] = le_region.fit_transform(inputs['region'])
inputs['Intermedite_marks_n'] = le_Intermediate_marks.fit_transform(inputs['Intermediate_marks'])
df['status_n'] = le_status.fit_transform(df['status'])

In [21]:
inputs.head()

,District,region,Intermediate_marks,District_n,region_n,Intermedite_marks_n
0,Krishna,Middle Andhra,989.0,4,1,546
1,East Godavari,Middle Andhra,988.0,2,1,545
2,East Godavari,Middle Andhra,954.0,2,1,511
3,East Godavari,Middle Andhra,987.0,2,1,544
4,Visakhapatnam,North Andhra,987.0,9,2,544

In [22]:
inputs_n = inputs.drop(['District','region','Intermediate_marks'],axis='columns')
target2 = df['status_n']

In [23]:
target2

0       1
1       1
2       1
3       1
4       1
       ..
2477    0
2478    0
2479    0
2480    0
2481    2
Name: status_n, Length: 2482, dtype: int32

In [24]:
inputs_n.head()

   District_n  region_n  Intermedite_marks_n
0           4         1                  546
1           2         1                  545
2           2         1                  511
3           2         1                  544
4           9         2                  544

In [25]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [26]:
#now training the model
model.fit(inputs_n,target2)

DecisionTreeClassifier()

In [27]:
model.score(inputs_n,target2)

0.9935535858178888

In [28]:
model.predict([[2,1,545]])

c:\Users\pssbh\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])