In [1]:
import pandas as pd
data=pd.read_excel("C:\\Users\\pssbh\\OneDrive\\Sem 5\\DWDM Pro\\new merged all.xlsx")

In [2]:
dir(data)

['Branch',
 'Coedu',
 'District',
 'Gender',
 'Intermediate_marks',
 'Name',
 'State',
 'T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'region',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'status',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [3]:
data.head()

,Name,Gender,Hallticket number,State,District,region,Intermediate_marks,Eamcet year,eamcet marks,status,Eamcet rank,Allotted college,Branch,Coedu
0,Lokajit,Male,6.047202e+10,Andhra Pradesh,Krishna,Middle Andhra,989.0,2020.0,124.0,Qualified,705,JNTUK COLLEGE OF ENGG. KAKINADA,CSE,Yes
1,Shaik Sajida,Male,6.047201e+10,Andhra Pradesh,East Godavari,Middle Andhra,988.0,2020.0,117.0,Qualified,1300,JNTUK COLLEGE OF ENGG. KAKINADA,CSE,Yes
2,GULLIPALLI SAI ROHITH NAIDU,Male,6.047202e+10,Andhrapradesh,East Godavari,Middle Andhra,954.0,2020.0,111.0,Qualified,1501,NaN,,Yes
3,Kaditula,Female,6.047202e+10,Andhrapradesh,East Godavari,Middle Andhra,987.0,2020.0,110.0,Qualified,1570,JNTUK COLLEGE OF ENGG. KAKINADA,ECE,Yes
4,Raktakamal,Male,6.047202e+10,Andhrapradesh,Visakhapatnam,North Andhra,987.0,2020.0,109.0,Qualified,1578,GAYATHRI VIDYA PARISHAD COLL. OF ENGINEERING,CSE,Yes

In [4]:
inputs = data.drop(['Name','Gender','Hallticket number','State','Eamcet year','Eamcet rank','eamcet marks','Allotted college','Branch','Coedu','status'],axis='columns')
target = data['status']

In [5]:
inputs.head()

        District         region  Intermediate_marks
0        Krishna  Middle Andhra               989.0
1  East Godavari  Middle Andhra               988.0
2  East Godavari  Middle Andhra               954.0
3  East Godavari  Middle Andhra               987.0
4  Visakhapatnam   North Andhra               987.0

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le_District = LabelEncoder()
le_region = LabelEncoder()
le_Intermediate_marks = LabelEncoder()
le_status = LabelEncoder()

In [8]:
inputs['District_n'] = le_District.fit_transform(inputs['District'])
inputs['region_n'] = le_region.fit_transform(inputs['region'])
inputs['Intermedite_marks_n'] = le_Intermediate_marks.fit_transform(inputs['Intermediate_marks'])
data['status_n'] = le_status.fit_transform(data['status'])

In [9]:
inputs.head()

,District,region,Intermediate_marks,District_n,region_n,Intermedite_marks_n
0,Krishna,Middle Andhra,989.0,4,1,546
1,East Godavari,Middle Andhra,988.0,2,1,545
2,East Godavari,Middle Andhra,954.0,2,1,511
3,East Godavari,Middle Andhra,987.0,2,1,544
4,Visakhapatnam,North Andhra,987.0,9,2,544

In [10]:
inputs_n = inputs.drop(['District','region','Intermediate_marks'],axis='columns')
target2 = data['status_n']

In [11]:
target2

0       1
1       1
2       1
3       1
4       1
       ..
2477    0
2478    0
2479    0
2480    0
2481    2
Name: status_n, Length: 2482, dtype: int32

In [12]:
inputs_n.head()

   District_n  region_n  Intermedite_marks_n
0           4         1                  546
1           2         1                  545
2           2         1                  511
3           2         1                  544
4           9         2                  544

In [38]:
from matplotlib import pyplot as plt

In [39]:
%matplotlib inline

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
X_train,X_test,Y_train,Y_test=train_test_split(inputs_n,target2,test_size=0.2)

In [42]:
X_train

      District_n  region_n  Intermedite_marks_n
2037          11         1                  266
2434          11         1                   23
1712           3         4                  372
707            1         3                   71
570            0         3                  145
...          ...       ...                  ...
1286           2         1                  319
78            10         2                  457
1220           9         2                  363
772           12         3                  237
384            3         4                  257

[1985 rows x 3 columns]

In [43]:
Y_train

2037    1
2434    0
1712    1
707     0
570     1
       ..
1286    1
78      1
1220    1
772     0
384     1
Name: status_n, Length: 1985, dtype: int32

In [44]:
len(X_train)

1985

In [45]:
len(X_test)

497

In [46]:
from sklearn.svm import SVC
model=SVC()

In [47]:
model.fit(X_train,Y_train)

SVC()

In [48]:
model.score(X_test,Y_test)

0.9698189134808853